<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SalarySystem.Properties.Settings.salaryConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=salary;password=1111"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>