<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SalarySystem.Properties.Settings.SalarySystemConnectionString"
            connectionString="Data Source=|DataDirectory|\Database\SalarySystem.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="SalarySystem.Properties.Settings.salaryConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=salary"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>