<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<CommunicationErrorCode>
	<add key="-1"		value="发送数据错误，没有发送处理器！" />
	<add key="-2"		value="发送数据错误，序列化错误！" />
	<add key="-3"		value="接收数据错误，无响应信息！" />
	<add key="-4"		value="接收数据错误，反序列化错误！" />
	<add key="-5"		value="接收超时！" />


	<add key="0"		value="成功" />
	<add key="1"		value="数据不完整" />
	<add key="2"		value="找不到处理方法" />
	<add key="3"		value="没有权限使用该功能" />
	<add key="4"		value="通讯校验错误！请重新登录" />
	<add key="5"		value="处理过程异常" />
	<add key="6"		value="远程调用异常" />
	<add key="100"		value="数据不完整" />
	<add key="123"		value="无效用户信息" />
	<add key="124"		value="无效用户信息或用户密码错误" />
	<add key="125"		value="该用户已经登录" />
	<add key="126"		value="用户信息处理失败" />
	<add key="127"		value="用户信息无效" />
	<add key="128"		value="无相应处理" />
	<add key="195"		value="无效密钥" />
	<add key="999"		value="数据库错误" />
</CommunicationErrorCode>
</configuration>
