<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<ExchangeErrorCode>
	<add key="0"		value="成功！" />
	<add key="1"		value="获取交换通道失败！" />
	<add key="2"		value="获取转换节失败！" />
	<add key="4"		value="转换数据失败！" />
	<add key="8"		value="不支持功能！" />
	<add key="16"		value="" />
	<add key="32"		value="" />
	<add key="64"		value="" />
	<add key="128"		value="" />
	<add key="256"		value="" />
	<add key="512"		value="异常信息：" />
</ExchangeErrorCode>
</configuration>
