<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<PlatformSettings>
	<add key="WriteLoginLog"								value="true"		description="是否记录登录日志" />
	<add key="WritePlatformLog"								value="true"		description="是否记录启动日志" />
	<add key="WriteExceptionLog"							value="true"		description="是否记录异常日志" />
	<add key="WriteOperationLog"							value="true"		description="是否记录操作日志" />
	<add key="WriteDBHelperLog"								value="true"		description="是否记录数据库操作日志" />
	<add key="WriteLiveUpdateLog"							value="true"		description="是否记录软件升级日志" />
	
</PlatformSettings>

</configuration>
