<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <PlatformSettings>
	<add key="TextEncodingName"				value="GB2312"		description="系统使用字符集"						/>
	<add key="ThreadPoolLimitation"			value="1024"		description="支持最大线程数"						/>
	<add key="UseSysetmThreadPool"			value="false"		description="是否使用系统线程池"					/>
	<add key="DBHandlerWriteLog"			value="false"		description="记录数据操作日志"						/>
	<add key="DBHandlerWriteLogLevel"		value="None"		description="记录非用户操作日志多项采用,分隔"		/>
	<add key="ModulePaths"					value="."			description="模块存放路径,相对路径基于程序路径"		/>
	<add key="EnableDBHandlerReplaceSql"	value="true"		description="是否允许DBHandler覆盖Sql语句"			/>
  </PlatformSettings>
  <AssemblyPartialNameMap>
    <!-- add key="System.Data"				      value="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"		description=""						/>
    <add key="System.Windows.Forms"			value="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"		description=""						/>
    <add key="mscorlib"				          value="mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"		description=""						/>
    <add key="System"				            value="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"		description=""						/>
    <add key="System.Drawing"				    value="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"		description=""						/>
    <add key="System.Web"				        value="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"		description=""						/>
    <add key="System.Xml"				        value="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"		description=""						/ -->
  </AssemblyPartialNameMap>  
</configuration>
