<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Test.DBHandler.Properties.Settings.conn" connectionString="server=localhost;user id=root;password=1111;persistsecurityinfo=True;database=salary"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>