<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SalarySystem.Properties.Settings.salaryConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=salary;password=1111"
            providerName="MySql.Data.MySqlClient" />
        <add name="SalarySystem.Properties.Settings.salaryConnectionString1"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=salary;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
